/* ==== Reset ==== */
.button:where(button) {
	appearance: none;
	background-color: transparent;
	border: none;
	color: currentColor;
	padding: 0;
	text-align: start;
}

.button:where(a) {
	text-decoration: none;
}

/* ==== Base ==== */
.button {
	align-items: center;
	border-radius: 0.35rem;
	display: inline-flex;
	justify-content: center;
	user-select: auto;
	vertical-align: top;
	white-space: nowrap;
}

/* ==== Variants ==== */
.button {
	font-weight: 500;
	gap: var(--space-2xs);
	padding-block: var(--space-3xs);
	padding-inline: var(--space-xs);
	vertical-align: middle;

	background-color: var(--_bg-color);
	border: 1px solid var(--_border-color, var(--_bg-color));

	&:not([data-variant]),
	&[data-variant=solid] {
		--outline-color: var(--color-status-600, var(--color-neutral-600));
		--_bg-color: var(--color-status-600, var(--color-neutral-600));

		color: var(--color-status-100, var(--color-neutral-100));

		&:hover {
			--_bg-color: var(--color-status-700, var(--color-neutral-700));
		}
	}

	&[data-variant=soft] {
		--outline-color: var(--color-status-100, var(--color-neutral-100));
		--_border-color: var(--color-status-200, var(--color-neutral-200));
		--_bg-color: var(--color-status-100, var(--color-neutral-100));

		color: var(--color-status-600, var(--color-neutral-600));

		&:hover {
			--_bg-color: var(--color-status-200, var(--color-neutral-200));
		}
	}

	&[data-variant=outline] {
		--_border-color: var(--color-neutral-400);

		&:hover {
			--_bg-color: var(--color-neutral-100);
		}
	}

	&[data-variant=text] {
		--_bg-color: transparent;

		color: var(--color-status-600, var(--color-neutral-600));

		&:hover {
			--_bg-color: var(--color-status-100, var(--color-neutral-100));
		}
	}
}
