.separator {
	background-color: var(--color-neutral-300);
	block-size: 1px;
	inline-size: 100%;
}

.separator[data-orientation=vertical] {
	block-size: 100%;
	inline-size: 1px;
}

hr {
	border-style: solid;
	color: var(--color-neutral-300);
}
