.tidbit {
	color: var(--color-status-800, var(--color-neutral-800));
	background: var(--color-status-200, var(--color-neutral-200));
	border: 1px solid var(--color-status-500, var(--color-neutral-500));
	border-inline-start-width: 0.5em;
	border-radius: 0.35rem;
	padding: var(--space-2xs);

	--sidebar-gap: var(--space-2xs);

	> .icon {
		opacity: 0.7;
	}

	> div > ._title {
		font-weight: 700;
	}
}
